<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="lagha" Publisher="CN=Microsoft" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="ab994b58-5f96-4f99-93de-4030f322f550" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CamShooter</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ObjectTrackingDemo.WindowsPhone.App">
      <m3:VisualElements DisplayName="CamShooter" Square150x150Logo="Assets\logo150.png" Square44x44Logo="Assets\logo44.png" Description="CamShooter" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\logo24.png" />
        <m3:DefaultTile Square71x71Logo="Assets\logo71.png" Wide310x150Logo="Assets\SplashScreen310150.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="landscape" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>VideoEffect.WindowsPhone.dll</Path>
        <ActivatableClass ActivatableClassId="RealtimeTransform.RealtimeTransform" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="BufferTransform.BufferTransform" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>